export HOST_ROOT_DOMAIN="domain.tld"
export PROXY_ACME_EMAIL="you@whatever.tld"
export PROXY_TRAEFIK_DOMAIN="traefik.domain.tld"
export PROXY_TRAEFIK_BASIC_AUTH="traefik.domain.tld"
export PROXY_PORTAINER_DOMAIN="portainer.domain.tld"
export PROXY_WHOAMI_DOMAIN="whoami.domain.tld"